<!DOCTYPE html>
<html>
<head>
    <title>IMT Atlantique Gameshell - Getting started</title>
    <style>
        body {
            background-color: #000;
            color: white;
            font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        p {
            margin: 5px 0;
        }

        a {
            color: white;
        } 
    </style>
</head>
<body>
    <h1>Getting started</h1>
    <p>Please follow these steps to get started with Gameshell:
        <ol>
            <li>Please download the latest version of Gameshell <a href="https://github.com/imt-atlantique/GameShell/archive/refs/heads/master.zip" target="_blank" rel="noopener noreferrer">here</a>.</li>
            <li>Unzip the downloaded file.</li>
            <li>Open a terminal and navigate to the unzipped folder.</li>
            <li>Run the following command to start the game: <code>$ bash start.sh</code></li>
            <li>That's it! You can now open the leader board at <a href="https://gameshell.org/dashboard?id=" target="_blank" rel="noopener noreferrer">https://gameshell.org/dashboard?id=&lt;SESSION_ID&gt;</a> with the SESSION_ID provided by your teacher.</li>
        </ol>
    </p>
</body>
</html>
